@{
    ViewData["Title"] = "About Us";
}


<!-- Welcome title -->
<div class="container-fluid padding" style="max-width: 80%;">
    <div class="row text-center welcome padding" >
        <div class="col-12">
            <h1 class="display-4">Appreciate the warmth</h1>
        </div>
    </div>
</div>

<!-- JUMBO WHAT? -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xl-12">
            <p class="lead">There comes a time, when you're at a place and time when you just need some
                disgustingly clear sound to drown in. We're in that place for the last 10 years ready to provide.
                Come join us on the most analogue journey in the modern music indusrty anyone could've led you thgrough.</p>
        </div>
    </div>
</div>